.contacts {
    background-color: $bg-color3;
    padding-top: 30px;
    padding-bottom: 50px;
    &__wrapper {
        position: relative;
        overflow-y: hidden;
        height: 300px;
        border-radius: 8px;
        background-color: $bg-color1;
        box-shadow: 0 1px 24px 0 rgba(0, 0, 0,  0.2);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__content {
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 100px;
        &-title {
            font-size: 30px;
            line-height: 30px;
            color: $text-color3;
        }
        &-phone {
            font-size: 14px;
            font-weight: 400;
            line-height: 23px;
            color: $text-color3;
            text-decoration: none;
            transition: all 0.2s;
            &:hover {
                color: $text-color2;
            }
            &:active {
                color: $text-color4;
            }
        }
        &-mail {
            font-size: 14px;
            font-weight: 400;
            line-height: 23px;
            color: $text-color3;
            text-decoration: none;
            transition: all 0.2s;
            &:hover {
                color: $text-color2;
            }
            &:active {
                color: $text-color4;
            }
        }
        &-businessman {
            margin-top: 10px;
            font-size: 14px;
            color: $text-color4;
        }
        &-img {
            border-radius: 8px;
        }
        &-right {
            border-radius: 8px;
            box-shadow: 0 1px 24px 0 $bg-shadow;
            transition: all 0.2s;
            &:hover {
                box-shadow: 0 1px 24px 0 rgba($color: $bg-color2, $alpha: 0.4);
            }
        }
        &-info {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 400;
            line-height: 23px;
            color: $text-color4;
            font-style: normal;
            span {
                font-size: 16px;
                font-weight: bold;
            }
            
        }
    }
}