@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .contacts {
        &__content {
            &-title {
                font-size: 28px;
                line-height: 28px;
            }
            &-right {
                width: 450px;
            }
        }
    }
}