@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 5px;
    }
    .contacts {
        &__wrapper {
            height: 400px;
        }
        &__content {
            &-title {
                font-size: 26px;
                line-height: 26px;
            }
            &-info {
                margin-top: 10px;
                span {
                    font-size: 15px;
                }
            }
            &-right {
                width: 385px;
            }
        }
    }
}