.consultation {
    background-color: $bg-color3;
    padding-top: 30px;
    padding-bottom: 50px;
	&__modal {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: rgba(0,0,0,.5);
		&-wrapper {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 30px;
			border: 1px solid #cb11ab;
			border-radius: 8px;
			background-color: #fff;
		}
		&-title {
			font-weight: 600;
    		font-size: 18px;
    		line-height: 18px;
			color: $text-color2;
		}
		&-img {
			height: 128px;
			width: 128px;
			margin: 0 auto;
			margin-top: 10px;
			img {
				height: 128px;
				width: 128px;
			}
		}
	}
    &__wrapper {
		position: relative;
		overflow-y: hidden;
        height: 300px;
        border-radius: 8px;
        background-color: $bg-color1;
        box-shadow: 0 1px 24px 0 $bg-shadow;
        display: flex;
        align-items: center;
        justify-content: space-between;
		.light {
			position: absolute;
			width: 0px;
			background-color: $bg-color3;
			box-shadow: #858585 0px 0px 20px 2px;
			opacity: 0;
			top: 300px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			margin: auto;
		}
		.x1{
			animation: floatUp 4s infinite linear;
			transform: scale(1.0);
		}
		  
		.x2{
			animation: floatUp 7s infinite linear;
			transform: scale(1.6);
			left: 15%;
		}
		  
		.x3{
			animation: floatUp 2.5s infinite linear;
			transform: scale(.5);
			left: -15%;
		}
		  
		.x4{
			animation: floatUp 4.5s infinite linear;
			transform: scale(1.2);
			left: -34%;
		 }
		  
		.x5{
			animation: floatUp 8s infinite linear;
			transform: scale(2.2);
			left: -57%;
		}
		  
		.x6{
			animation: floatUp 3s infinite linear;
			transform: scale(.8);
			left: -81%;
		}
		  
		.x7{
			animation: floatUp 5.3s infinite linear;
			transform: scale(3.2);
			left: 37%;
		}
		  
		.x8{
			animation: floatUp 4.7s infinite linear;
			transform: scale(1.7);
			left: 62%;
		}
		  
		.x9{
			animation: floatUp 4.1s infinite linear;
			transform: scale(0.9);
			left: 85%;
		}
    }
	&__content {
		position: absolute;
		z-index: 1;
		display: flex;
        align-items: center;
        justify-content: space-between;
		width: 100%;
    	padding: 0 100px;
	}
    &__left {
        width: 450px;
		&-title {
			font-size: 30px;
			color: $text-color3;
			span {
				color: $text-color4;
			}
		}
		&-descr {
			font-size: 13px;
			color: $text-color4;
			margin-top: 20px;
		}
		&-phone {
			margin-top: 15px;
			display: flex;
			align-items: center;
			font-weight: 600;
			font-size: 13px;
		}
		&-img {
			width: 12px;
			height: 12px;
			margin-left: 20px;
    		margin-right: 5px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&-link {
			position: relative;
			font-size: 13px;
			line-height: 13px;
			font-weight: 700;
			color: $text-color3;
			text-decoration: none;
			padding: 2px 0;
			&:before {
				position: absolute;
				content: '';
				width: 0%;
				height: 1.5px;
				background-color: $bg-color2;
				bottom: 0px;
				transition: all 0.3s;
			}
			&:hover {
				&:before {
					position: absolute;
					content: '';
					width: 100%;
					height: 1.5px;
					background-color: $bg-color2;
					bottom: 0px;
				}
			}
			&:active {
				color: $color-active;
				&:before {
					background-color: $color-active;
				}
			}
		}
    }
    &__right {
        width: 500px;
		&-descr {
			font-size: 14px;
			font-weight: 600;
			color: $text-color4;
			text-align: end;
			span {
				font-weight: 400;
			}
		}
    }
	&__form {
		margin-top: 20px;
		&-top {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&-input {
			width: 245px;
			height: 35px;
			outline: none;
			border-radius: 8px;
			border: 1px solid $bg-color3;
			padding: 0 10px;
			box-shadow: 0 1px 24px 0 $bg-shadow;
			font-size: 13px;
		}
		&-bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 10px;
		}
		&-consent {
			width: 220px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&-descr {
			font-size: 12px;
			color: $text-color4;
		}
		&-btn {
			width: 245px;
			height: 35px;
			&:active {
				background-color: $color-active;
				border: 1px solid $bg-color2;
			}
		}
		&-label {
			cursor: pointer;
			user-select: none;
			input {
				&:checked {
					+.consultation__form-checkbox {
						border-color: $bg-color2;
						svg {
							path {
								fill: $bg-color2;
							}
							polyline {
								stroke-dashoffset: 0;
							}	
						}
					}
				}
			}
		}
		&-invisible {
			position: absolute;
			z-index: -1;
			width: 0;
			height: 0;
			opacity: 0; 
		}
		&-checkbox {
			position: relative;
			top: 2px;
			float: left;
			margin-right: 8px;
			width: 20px;
			height: 20px;
			border: 2px solid $bg-shadow;
			border-radius: 3px;
			svg {
				position: absolute;
				top: -2px;
				left: -2px;
				path {
					fill: none;
					stroke: $bg-color2;
					stroke-width: 2;
					stroke-linecap: round;
					stroke-linejoin: round;
					stroke-dasharray: 71px;
					stroke-dashoffset: 71px;
					transition: all .3s ease;
				}
				polyline {
					fill: none;
					stroke: #FFF;
					stroke-width: 2;
					stroke-linecap: round;
					stroke-linejoin: round;
					stroke-dasharray: 18px;
					stroke-dashoffset: 18px;
					transition: all .3s ease;
				}
			}
			&:hover {
				svg {
					path {
						stroke-dashoffset: 0;
					}
				}
			}
		}
	}
}

