@keyframes animatedLogo {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes floatUp{
	0% {
		top: 300px; 
		opacity: 0;
	}
	25%{
		opacity: 1;
	}
	50%{
		top: 0; 
		opacity: .8;
	}
	75%{
		opacity: 1;
	}
	100%{
		top: -300px; 
		opacity: 0;
	}
}

@keyframes fade {
	from {
	  opacity: 0.1;
	}
	to {
	  opacity: 1;
	}
  }
@keyframes animation {
	from {
		color: $bg-color1;
		text-shadow: 1px 1px 3px $bg-color2;
	}

	50% {
		color: $bg-color2;
		text-shadow: 1px 1px 3px white;
	}

	to {
		color: $text-color1;
		text-shadow: 1px 1px 3px $bg-color2;
	}
}

@keyframes snowfall {
	0% {
	  transform: translate3d(0, 0, 0);
	}
	100% {
	  transform: translate3d(0, 110vh, 0);
	}
  }