* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    &::-webkit-scrollbar {
        width: 10px;
        background-color: $bg-color1;
        border-radius: 0 8px 8px 0;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #481173;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        border-radius: 10px;
        background-color: $bg-color1;
    }
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    &__relative {
        position: relative;
    }
}

.btn {
    width: 108px;
    height: 38px;
    background-color: $bg-color2;
    border: 1px solid $bg-color2;
    color: $text-color1;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    border-radius: 8px;
    padding: 0 10px;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
    &:hover {
        background-color: $bg-color1;
        color: $text-color3;
        border: 1px solid $bg-color1;
        box-shadow: 0 1px 24px 0 $bg-shadow;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.hide__flex {
    display: none;
}

.show__flex {
    display: flex;
}

.golden {
    background-color: #DECEA6;
}

.silver {
    background-color: #F1F1F1;
}

.black {
    background-color: black;
}

.pink {
    background-color: #FFCBDB;
}

.blue {
    background-color: #00BFFF;
}

.brown {
    background-color: #964B00;
}

.dark__blue {
    background-color: #3527D5;
}

.red {
    background-color: red;
}

.opacity {
    opacity: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    position: relative;
    z-index: 1;
}

.animation {
    animation-name: animation;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.light {
    position: absolute;
    width: 0px;
    background-color: $bg-color3;
    box-shadow: #858585 0px 0px 20px 2px;
    opacity: 0;
    top: 300px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.x1{
    animation: floatUp 4s infinite linear;
    transform: scale(1.0);
}
  
.x2{
    animation: floatUp 7s infinite linear;
    transform: scale(1.6);
    left: 15%;
}
  
.x3{
    animation: floatUp 2.5s infinite linear;
    transform: scale(.5);
    left: -15%;
}
  
.x4{
    animation: floatUp 4.5s infinite linear;
    transform: scale(1.2);
    left: -34%;
 }
  
.x5{
    animation: floatUp 8s infinite linear;
    transform: scale(2.2);
    left: -57%;
}
  
.x6{
    animation: floatUp 3s infinite linear;
    transform: scale(.8);
    left: -81%;
}
  
.x7{
    animation: floatUp 5.3s infinite linear;
    transform: scale(3.2);
    left: 37%;
}
  
.x8{
    animation: floatUp 4.7s infinite linear;
    transform: scale(1.7);
    left: 62%;
}
  
.x9{
    animation: floatUp 4.1s infinite linear;
    transform: scale(0.9);
    left: 85%;
}
