$bg-theme: linear-gradient(to right,#cb11ab 0,#481173 100%) no-repeat;
$bg-color1: white;
$bg-color2: #cb11ab;
$bg-color3: #f2f2f2;
$bg-color4: #0D1116;
$bg-shadow: rgba(0, 0, 0, 0.20);

$text-color1: white;
$text-color2: #0D1116;
$text-color3: #cb11ab;
$text-color4: #3d4145;
$color-active: rgb(211, 210, 210);
