@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .offer {
        &__slider {
            &-wrapper {
                width: 940px;
            }
            &-block {
                width: 800px;
                top: 55%;
            }
            &-square {
                width: 75px;
                height: 75px;
            }
        }
        &__slide {
            &-title {
                top: 100px;
                left: 70px;
            }
        }
    }
    
}