@media (max-width: 1400px) {
    .container {
        max-width: 1140px;
    }
    .offer {
        &__slide {
            &-title {
                left: 85px;
            }
        }
        &__slider {
            &-wrapper {
                width: 1120px;
            }
            &-block {
                width: 950px;
            }
        }
    }
}   