@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .modalFavourites {
        &__wrapper {
            height: 500px;
            padding: 15px;
        }
        &__left {
            width: 90px;
            height: 90px;
            margin-right: 15px;
        }
        &__title {
            &-right {
                font-size: 18px;
            }
        }
        &__right {
            &-wrapper {
                margin-top: 5px;
            }
        }
        &__price {
            &-old {
                font-size: 15px;
            }
            &-new {
                font-size: 20px;
            }
        }
        &__firm {
            font-size: 13px;
        }
    }
}