.header {
    position: relative;
    box-shadow: 0 1px 24px 0 $bg-shadow;
    height: 98px;
    &-top {
        background: $bg-theme;
        position: fixed;
        width: 100%;
        z-index: 5;
        &__wrapper {
            position: relative;
            height: 33px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__address {
            display: flex;
            align-items: center;
            &-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 17px;
                img {
                    width: 100%;
                }
            }
            &-city {
                font-size: 13px;
                line-height: 13px;
                color: $text-color1;
            }
        }
        &__list {
            list-style-type: none;
            display: flex;
            align-items: center;
        }
        &__item {
            margin-right: 15px;
            position: relative;
            padding: 3px;
            &:nth-child(2) {
                margin-right: 30px;
            }
            &:before {
                content:'';
                position:absolute;
                width:calc(100% + (1px * 2));
                height:calc(100% + (1px * 2));
                border-radius: 6px;
                top:calc(1px/-1);
                left:calc(1px/-1);
                background:linear-gradient(to right, $bg-color1 0%, $bg-color1 100%), linear-gradient(to top, $bg-color1 50%, transparent 50%), linear-gradient(to top, $bg-color1 50%, transparent 50%), linear-gradient(to right, $bg-color1 0%, $bg-color1 100%), linear-gradient(to left, $bg-color1 0%, $bg-color1 100%);
                background-size:100% 1.5px, 1.5px 200%, 1.5px 200%, 0% 1.5px, 0% 1.5px;
                background-position:50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
                background-repeat:no-repeat, no-repeat;
                transition: transform 0.1s ease-in-out, background-position 0.1s ease-in-out, background-size 0.1s ease-in-out;
                transform:scaleX(0) rotate(180deg);
                transition-delay: 0.1s *2, 0.1s, 0s;
            }
            &:hover {
                &:before {
                    background-size:200% 1.5px, 1.5px 400%, 1.5px 400%, 55% 1.5px, 55% 1.5px;
                    background-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
                    transform:scaleX(1) rotate(180deg);
                    transition-delay:0s, 0.1s, 0.1s*2;
                }
            }
        }
        &__link {
            display: flex;
            align-items: center;
            position: relative;
            font-size: 14px;
            line-height: 14px;
            color: $text-color1;
            text-decoration: none;
            &:active {
                color: $color-active;
            }
            &-wrapper {
                display: flex;
                position: relative;
            }
            &-icon {
                position: absolute;
                right: -17px;
                width: 9px;
                height: 9px;
                transform: rotate(-90deg);
                transition: all 0.3s;
                img {
                    width: 100%;
                }
            }
            &-open {
                transform: translateX(5px) rotate(90deg);
                margin-left: 10px;
            }
        }
        &__phone {
            display: flex;
            align-items: center;
            &-logo {
                display: block;
                width: 14px;
                height: 17px;
                img {
                    width: 100%;
                }
            }
            &-wrapper {
                color: $text-color1;
                font-size: 13px;
                line-height: 13px;
            }
            &-link {
                position: relative;
                font-size: 13px;
                line-height: 13px;
                font-weight: 700;
                color: $text-color1;
                text-decoration: none;
                margin-right: 5px;
                margin-left: 5px;
                &:before {
                    position: absolute;
                    content: '';
                    width: 0%;
                    height: 1.5px;
                    background-color: $bg-color1;
                    bottom: 0px;
                    transition: all 0.3s;
                }
                &:hover {
                    &:before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 1.5px;
                        background-color: $bg-color1;
                        bottom: 0px;
                    }
                }
                &:active {
                    color: $color-active;
                }
            }
        }
        &__modal {
            position: absolute;
            height: 0;
            z-index: -1;
            top: 40px;
            left: 400px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 1px 24px 0 rgb(0, 0, 0, 0.2);
            opacity: 0;
            transition: all 0.3s;
            &-list {
                list-style-type: none;
            }
            &-item {
                margin: 5px 0;
                cursor: pointer;
                position: relative;
                &:before {
                    content:'';
                    position:absolute;
                    width:calc(100% + (1px * 2));
                    height:calc(100% + (1px * 2));
                    border-radius: 6px;
                    top:calc(1px/-1);
                    left:calc(1px/-1);
                    background:linear-gradient(to right, $bg-color2 0%, $bg-color2 100%), linear-gradient(to top, $bg-color2 50%, transparent 50%), linear-gradient(to top, $bg-color2 50%, transparent 50%), linear-gradient(to right, $bg-color2 0%, $bg-color2 100%), linear-gradient(to left, $bg-color2 0%, $bg-color2 100%);
                    background-size:100% 1px, 1px 200%, 1px 200%, 0% 1px, 0% 1px;
                    background-position:50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
                    background-repeat:no-repeat, no-repeat;
                    transition: transform 0.1s ease-in-out, background-position 0.1s ease-in-out, background-size 0.1s ease-in-out;
                    transform:scaleX(0) rotate(180deg);
                    transition-delay: 0.1s *2, 0.1s, 0s;
                }
                &:hover {
                    &:before {
                        background-size:200% 1px, 1px 400%, 1px 400%, 55% 1px, 55% 1px;
                        background-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
                        transform:scaleX(1) rotate(180deg);
                        transition-delay:0s, 0.1s, 0.1s*2;
                    }
                }
                &:active {
                    background-color: $bg-color3;
                    .header-top__modal-link {
                        color: $text-color3;
                    }
                }
            }
            &-link {
                text-decoration: none;
                font-size: 13px;
                line-height: 13px;
                color: #3d4145;
                padding: 5px 4px;
                display: flex;

            }
            &-active {
                z-index: 2;
                opacity: 1;
                height: 125px;
                padding: 5px 10px;
            }
        }
    }
    &-bottom {
        padding-top: 33px;
        &__wrapper {
            height: 64px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__left {
            position: relative;
            z-index: 0;
            width: 190px;
            height: 48px;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            align-items: center;
            &::before {
                content: '';
                position: absolute;
                z-index: -2;
                left: -50%;
                top: -50%;
                width: 200%;
                height: 200%;
                background-repeat: no-repeat;
                background-size: 50% 50%, 50% 50%;
                background-position: 0 0, 100% 0, 100% 100%, 0 100%;
                background-image: linear-gradient(white, white), linear-gradient(#cb11ab, #cb11ab), linear-gradient(white, white), linear-gradient(#cb11ab, #cb11ab);
                animation-name: animatedLogo;
                animation-duration: 6s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
            &::after {
                content: "";
                position: absolute;
                z-index: -1;
                left: 2px;
                top: 2px;
                width: calc(100% - 4px);
                height: calc(100% - 5px);
                background: #fff;
                border-radius: 5px;
            }
        }
        &__logo {
            width: 35px;
            height: 35px;
            img {
                width: 100%;
            }
        }
        &__brend {
            text-transform: uppercase;
            color: $text-color2;
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            letter-spacing: -1px;
            span {
                background: $bg-theme;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: #0B2349;
            }
        }
        &__catalog {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 108px;
            height: 38px;
            &:hover {
                .header-bottom__hamburger {
                    span {
                        background-color: $bg-color2;
                    }
                }
            }
        }
        &__hamburger {
            width: 18px;
            height: 14px;
            span {
                display: block;
                height: 0.1rem;
                border-radius: 2px;
                width: 100%;
                margin-bottom: 4px;
                background-color: $bg-color1;
                transition: 0.5s all;
            }
            &-active {
                span {
                    &:nth-child(1) {
                        transform: translateY(6px) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: translateY(0px) rotate(45deg);
                    }
                }
            }
        }
        &__form {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
            width: 500px;
            border-radius: 8px;
            border: 1px solid $bg-color1;
            background-color: $bg-color3;
            transition: all 0.3s;
            &:hover {
                box-shadow: 0 1px 24px 0 $bg-shadow;
                border: 1px solid $bg-color1;
                background-color: $bg-color1;
                .header-bottom__input {
                    background-color: $bg-color1;
                }
            }

        }
        &__input {
            outline: none;
            border: none;
            width: 100%;
            background-color: $bg-color3;
            padding-left: 10px;
            transition: all 0.3s;
            font-size: 14px;
            line-height: 14px;
            color: $text-color2;
        }
        &__right {
            display: flex;
            
        }
        &__user {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 47px;
            height: 47px;
            border-radius: 100%;
            border: 1px solid $bg-color1;
            box-shadow: 0 1px 24px 0 $bg-shadow;
            margin-right: 12px;
            text-decoration: none;
            transition: all 0.3s;
            &:nth-child(1) {
                display: none;
            }
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                background-color: $bg-color2;
                border: 1px solid $bg-color2;
                svg {
                    path {
                        fill: white;
                    }
                    circle {
                        fill: white; 
                    }
                }
                .header-bottom__title {
                    display: block;
                }
                .header-bottom__count {
                    color: $text-color3;
                    background-color: $bg-color1;
                }
            }
            &:active {
                background-color: $color-active;
                border: 1px solid $color-active;
            }
        }
        &__count {
            position: absolute;
            top: -5px;
            right: -5px;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $text-color1;
            font-weight: 600;
            font-size: 13px;
            background-color: $bg-color2;
            border-radius: 50%;
            transition: all 0.3s;
        }
        &__title {
            display: none;
            position: absolute;
            top: 50px;
            background-color: $bg-color1;
            color: $text-color2;
            border-radius: 5px;
            border: 1px solid $bg-shadow;
            font-size: 13px;
            line-height: 13px;
            padding: 2px 4px;
        }
        &__img {
            width: 24px;
            height: 24px;
            img {
                width: 100%;
            }
            &-mini {
                display: flex;
                align-items: center;
                width: 38px;
                height: 100%;
                cursor: pointer;
                padding: 0 10px;
                &:hover {
                    svg {
                        path {
                            fill: $bg-color2;
                        }
                    }
                }
                &:active {
                    svg {
                        path {
                            fill: #AFAFAF;
                        }
                    }
                }
            }
        }
    }
    &-catalog {
        position: relative;
        top: 40px;
        opacity: 0;
        transition: 0.3s;
        &__active {
            top: 10px;
            opacity: 1;
            z-index: 2;
        }

        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 325px;
            height: 150px;
            background-color: $bg-color1;
            border-radius: 8px;
            box-shadow: 0 1px 24px 0 $bg-shadow;
            padding: 0 32px;
        }
        &__img {
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: rgb(251,248,243);
            img {
                width: 80%;
                height: 80%;
                object-fit: contain;
            }
        }
        &__title {
            color: $text-color2;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        &__list {
            list-style-type: none;
        }
        &__item {
            margin: 5px 0;
            cursor: pointer;
            position: relative;
            &:before {
                content:'';
                position:absolute;
                width:calc(100% + (1px * 2));
                height:calc(100% + (1px * 2));
                border-radius: 6px;
                top:calc(1px/-1);
                left:calc(1px/-1);
                background:linear-gradient(to right, $bg-color2 0%, $bg-color2 100%), linear-gradient(to top, $bg-color2 50%, transparent 50%), linear-gradient(to top, $bg-color2 50%, transparent 50%), linear-gradient(to right, $bg-color2 0%, $bg-color2 100%), linear-gradient(to left, $bg-color2 0%, $bg-color2 100%);
                background-size:100% 1px, 1px 200%, 1px 200%, 0% 1px, 0% 1px;
                background-position:50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
                background-repeat:no-repeat, no-repeat;
                transition: transform 0.1s ease-in-out, background-position 0.1s ease-in-out, background-size 0.1s ease-in-out;
                transform:scaleX(0) rotate(180deg);
                transition-delay: 0.1s *2, 0.1s, 0s;
            }
            &:hover {
                &:before {
                    background-size:200% 1px, 1px 400%, 1px 400%, 55% 1px, 55% 1px;
                    background-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
                    transform:scaleX(1) rotate(180deg);
                    transition-delay:0s, 0.1s, 0.1s*2;
                }
            }
            &:active {
                background-color: $bg-color3;
                .header-catalog__link {
                    color: $text-color3;
                }
            }
        }
        &__link {
            text-decoration: none;
            font-size: 12px;
            line-height: 12px;
            color: $text-color4;
            padding: 5px 4px;
            display: flex;
        }
    }
}

