@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .hits {
        &__tab {
            margin: 0px 20px;
            &:nth-child(1) {
                &:after {
                    left: 106px;
                }
            }
            &:nth-child(3) {
                &:after {
                    left: -24px;
                }
            }
        }
        &__title {
            font-size: 28px;
            line-height: 28px;
            margin-bottom: 15px;
        }
        &__tab {
            font-size: 13px;
        }
        &__product {
            width: 255px;
            height: 345px;
            &:hover {
                .hits__item {
                    width: 255px;
                }
            }
        }
        &__item {
            height: 405px;
            width: 255px;
            padding: 20px;
            &-slider {
                width: 180px;
                height: 180px;
                margin: -245px auto 0 auto;
            }
            &-slide {
                width: 180px;
                height: 180px;
            }
            &-label {
                top: -15px;
                left: -15px;
            }
            &-left {
                left: -15px;
                top: -95px;
            }
            &-colors {
                top: -60px;
                right: -205px;
            }
            &-subtitle {
                top: 285px;
            }
            &-price {
                margin-top: 30px;
            }
        }
    }
}