@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .reviews {
        &__title {
            font-size: 28px;
            line-height: 28px;
        }
        &__slider {
            width: 500px;
        }
        &__wrapper {
            width: 500px;
        }
        &__rescr {
            line-height: 20px;
        }
    }
}